@import "../../styles/colors/colors.scss";
@import "../../styles/fonts/fonts.scss";
@import "../../styles/mixins/userMixins.scss";

.header-container {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  padding: 0 10px;

  &__content__profile {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }

  &__content__logo {
    img {
      @include image-style;
    }
  }
}
