.invoice-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;

  &__header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h1 {
      font-size: 2.5em;
      margin: 0 0 10px;
      font-family: 'Arial Black', Gadget, sans-serif;
    }

    img {
      max-width: 100px;
      height: auto;
    }
  }

  .customer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;

    &__left, &__right {
      flex: 1;
      min-width: 280px; // Minimum width for each section
      padding: 0 15px;

      p {
        margin: 5px 0;
        font-size: 0.9em;

        strong {
          font-weight: bold;
        }
      }
    }
  }

  .order-details {
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;

      thead {
        tr {
          background-color: #f2f2f2;
        }

        th {
          text-align: left;
          padding: 15px;
          border-bottom: 1px solid #ddd;
          font-size: 0.9em;
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: #f9f9f9;
          }

          &:hover {
            background-color: #e9e9e9;
          }
        }

        td {
          padding: 15px;
          border-bottom: 1px solid #eee;
          font-size: 0.9em;
        }
      }
    }
  }

  .total-amount {
    p {
      font-size: 1.3em;
      text-align: right;

      strong {
        font-weight: bold;
      }
    }
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .invoice-container, .invoice-container * {
    visibility: visible;
  }

  .invoice-container {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

  html, body {
    margin: 0;
    padding: 0;
  }
}

