@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";
@import "../../../styles/mixins/userMixins.scss";

.cart {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $font-family, sans-serif;
  overflow: hidden;

  &__main {
    @include main-style;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
    overflow: hidden;
    height: 100%;
  }

  &__content-left {
    @include content-style;
    flex: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    h2 {
      text-decoration: underline;
    }
  }

  .cart__content-right {
    &__summary {
      @include content-style;
      min-height: 30%;
      overflow-y: auto;
      padding: 16px;

      &__checkout {
        button {
          @include button-style;
        }
      }

      h2 {
        font-size: 1.5rem;
        color: $text-color;
        text-decoration: underline;
        margin-bottom: 20px;
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-size: 1rem;
          color: $text-color;

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            color: $text-color;
          }
        }
      }

      &__discount {
        color: $error-color;
      }

      &__total {
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        span {
          &:last-child {
            color: $text-color;
          }
        }
      }
    }
  }
}
