@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";
@import "../../../styles/mixins/userMixins.scss";

.cart {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: max-content;
  font-family: $font-family, sans-serif;

  &__main {
    @include main-style;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
  }

  &__content-left {
    @include content-style;
    display: flex;
    flex-direction: column;
    padding: 16px; 

    h2 {
      text-decoration: underline;
      font-size: 1.5rem; 
      margin-bottom: 20px; 
    }
  }

  .cart__content-right {
    &__summary {
      @include content-style;
      padding: 16px; 
      display: flex;
      flex-direction: column; 

      &__checkout {
        button {
          @include button-style;
          margin-top: auto;
        }
      }

      h2 {
        font-size: 1.5rem;
        color: $text-color;
        text-decoration: underline;
        margin-bottom: 20px; 
      }

      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-size: 1rem;
          color: $text-color;

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            color: $text-color;
          }
        }
      }

      &__discount {
        color: $error-color;
        margin-bottom: 10px;
      }

      &__total {
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        margin-top: auto; 
        span {
          &:last-child {
            color: $text-color;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cart {
    &__main {
      grid-template-columns: 1fr;
    }
  }
}
