@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";

.update-company-form {
  display: flex;
  min-height: 100vh;
  font-family: $font-family;

  &__main {
    width: 100%;
    background-color: $body-bg;
    color: $text-light;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: start;
  }

  &__content {
    background-color: $white;
    color: $text-color;
    border-radius: 8px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba($black, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}