@import "../../styles/colors/colors.scss";
@import "../../styles/fonts/fonts.scss";

.grid-item {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    margin-bottom: 10px;
    color: $text-color;
    font-size: $font-size-medium;
  }

  input,
  select {
    padding: 10px;
    border: 1px solid $form-input-border;
    background-color: $form-input-bg-active;
    border-radius: 4px;
    margin-bottom: 1em;
    font-size: $font-size-small;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: darken($button-bg, 20%);
      box-shadow: 0 0 0 2px rgba($button-bg, 0.2);
      outline: none;
    }
  }

  input:disabled,
  select:disabled {
    background-color: #f5f5f5;
    color: rgb(0,0,0)
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

  .input-error {
    border-color: $error-color;

    &:focus {
      border-color: darken($error-color, 20%);
      box-shadow: 0 0 0 2px rgba($error-color, 0.2);
    }
  }

  .error-message {
    color: $error-color;
    padding: 0.5em;
    font-size: 0.9em;
    text-align: left;
  }
}

// .full-width {
//   grid-column: 1 / -1;
// }
