@import '../../styles/colors/colors.scss';

.admin-dashboard {

  &__logo {
    padding: 15px;

    img {
      width: 100%;
      object-fit: contain;
      height: 60px;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 100%;

    &-link {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

      &:hover, &:focus {
        background-color: darken($button-bg, 10%);
        transform: translateY(-2px);
      }
    }

    &-icon {
      margin-right: 10px;
      font-size: 1.2em;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: rotate(10deg);
      }
    }

    a {
      text-decoration: none;
      color: $white;
      padding: 12px;
      border-radius: 6px;
      transition: all 0.3s ease-in-out;
    }
  }

  &__sidebar {
    width: 250px;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: $sidebar-bg;
    
    &--hidden {
      display: none;
    }

    @media (max-width: 768px) {
      width: 20vw;
      min-width: 250px; 
    }

    @media (max-width: 480px) {
      position: fixed;
      left: 0;
      top: 0;
      min-height: 100vh;
      z-index: 1000;
    }
  }
}
