@import "./../../styles/colors/colors.scss";
@import "./../../styles/fonts/fonts.scss";
@import "./../../styles/mixins/userMixins.scss";

.account-page {
  padding: 20px;

  h1 {
    color: $text-color;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    button {
      @include button-style;
    }
  }

  section {
    margin-bottom: 20px;

    h2 {
      color: $text-color;
      margin-bottom: 10px;
    }

    p {
      color: $text-color;
      line-height: 1.6;
    }

  }

}
