// Background Colors
$body-bg: rgb(12, 21, 82);

// Text Colors
$text-color: rgb(17, 20, 75);
$text-light: #fff;

// General Colors
$white: #fff;
$black: #000;

// Button Colors
$button-bg: rgb(11, 21, 83);
$button-text: #fff;
$button-hover: darken($button-bg, 10%);

// Form Colors
$form-input-bg-active: rgb(228, 241, 252);
$form-label: rgb(195, 198, 195);
$form-input-border: rgb(180, 188, 193);
$error-color: rgb(255, 0, 0);
$success-color: rgb(0, 255, 0);

// Sidebar
$sidebar-bg: rgb(29, 40, 51);

// Table Colors
$table-first-child: #f2f2f2;
$table-last-child: #e9ecef;
$table-odd: #495057;
$table-even: #f8f9fa;
$table-border: #dee2e6;
$border-color: #dee2e6;

// Loader
$loader-border: #f3f3f3;
$loader-border-top: #3498db;