@import "../../styles/colors/colors.scss";

.grid-item {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.5em;
    font-weight: 500;
  }

  input,
  select,
  textarea {
    padding: 10px;
    border: 1px solid $form-input-border;
    border-radius: 4px;
    margin-bottom: 1em;
    font-size: 1em;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: darken($button-bg, 20%);
      box-shadow: 0 0 0 2px rgba($button-bg, 0.2);
      outline: none;
    }
  }

  textarea {
    height: 150px;
    resize: vertical;
  }
}

.full-width {
  grid-column: 1 / -1;
}
