@import '../../styles/colors/colors.scss';

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.loader {
  border: 5px solid $loader-border; 
  border-top: 5px solid $loader-border-top; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 15px; 
}

.loading-message {
  font-size: 1.25rem; 
  color: $white; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
