@import "./styles/colors/colors.scss";
@import "./styles/fonts/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $body-bg;
}