@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";
@import "../../../styles/mixins/userMixins.scss";

.checkout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: max-content;
  font-family: $font-family, sans-serif;

  &__main {
    @include main-style;
    min-height: 90vh;
  }

  &__content {
    @include content-style;
    min-height: 100%;
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;

    h2 {
      text-align: center;
    }

    .form-section {
      padding: inherit;
      border-radius: 8px;

      h3 {
        margin-bottom: 15px;
        font-size: 1.4em;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 100%;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 1em;
        }

        .select-wrapper {
          display: grid;
          grid-template-columns: 1fr 2fr;
          column-gap: 20px;
          width: 100%;
          align-items: center;

          select {
            @include input-style;
          }

          .selected-address {
            @include input-style;
            background-color: white;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            p {
              margin: 5px 0;
              font-size: 0.9em;
              line-height: 1.4;
            }
          }
        }
      }
    }

    .submit-button {
      @include button-style;
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 8px;

    .cart-items__left,
    .cart-items__right {
      p {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
      }
    }

    .cart-items__left {
      p {
        color: $text-color;
      }
    }

    .cart-items__right {
      p {
        color: $text-color;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
