@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";
@import "../../../styles/mixins/userMixins.scss";

.checkout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: max-content;
  font-family: $font-family, sans-serif;

  &__main {
    @include main-style;
    min-height: 90vh;
  }

  &__content {
    @include content-style;
    min-height: 100%;
  }

  .checkout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;

    h2 {
      text-align: center;
    }

    .form-section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
        margin-bottom: 10px;
      }

      input {
        padding: 8px;
        border: 1px solid $form-input-border;
        border-radius: 4px;
        &:focus {
          outline: none;
          border-color: $form-input-border;
        }
      }
    }

    .submit-button {
      @include button-style;
    }
  }
}
