@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";

.admin-dashboard {
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  &__main {
    width: 100%; 
    background-color: $body-bg;
    color: $text-light;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;

    @media (max-width: 768px) {
      padding: 20px;
      gap: 15px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0 5px 15px rgba($black, 0.15);

    @media (max-width: 1024px) {
      grid-template-columns: 1fr; 
      gap: 20px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;

      a {
        text-decoration: none;
        color: $white;
        padding: 15px 15px;
        border-radius: 8px;
        transition: all 0.3s ease;
        background-color: $button-bg;
        box-shadow: 0 3px 6px rgba($black, 0.3);
        font-weight: 500;

        &:hover {
          background-color: lighten($sidebar-bg, 5%);
          transform: translateY(-2px);
          box-shadow: 0 5px 10px rgba($black, 0.4);
        }
      }
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba($black, 0.2); 
    }
  }
}
