@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";
@import "../../../styles/mixins/userMixins.scss";

.user-dashboard {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: $font-family, sans-serif;

  &__navbar--fixed {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 30px;
    transition: all 0.8s ease-in-out;
  }

  &__main {
    width: 100%;
    background-color: $body-bg;
    color: $text-light;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    @media (max-width: 768px) {
      width: calc(100vw - 15vw);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__banner {
      @include content-style;
    }

    &__products {
      @include content-style;

      &:hover {
        cursor: pointer;
      }

      &__heading {
        text-decoration: underline;
      }
    }

    &__product__cards {
      display: flex;
      gap: 1em;
      overflow-x: auto;
      padding: 1rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
