@import "../../../styles/colors/colors.scss";
@import "../../../styles/fonts/fonts.scss";

.user-dashboard {
  display: flex;
  height: 100vh;
  font-family: $font-family, sans-serif;

  &__main {
    width: 100%; 
    background-color: $body-bg;
    color: $text-light;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;

    @media (max-width: 768px) {
      width: calc(100vw - 15vw); 
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    background-color: $white;
    padding: 5px;
    border-radius: 5px;
    gap: 20px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr; 
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      gap: 10px;

      a {
        text-decoration: none;
        color: $white;
        padding: 15px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
        background-color: $button-bg;
        box-shadow: 0 4px 8px rgba($black, 0.4);

        &:hover {
          background-color: $sidebar-bg;
          transform: scale(1.01);
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    img {
      width: 100%;
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba($black, 0.1); 
    }
  }
}